@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

body{
  font-family: "Spline Sans";
  color: black;
  line-height: 1.7;
  background-color:  white ;

}

h1,h2,h3,h4,h5,h6{
  font-weight: 600;
  color: black;
}

<<<<<<< Updated upstream
 a{
  color:black;
=======
/* a{
  color: black;
>>>>>>> Stashed changes
  text-decoration: none;
  transition: all 0.4s;
  font-weight: 600;
}

a:hover{
<<<<<<< Updated upstream
  color:  #F58d17;
} 
=======
  color:  #218B82;
} */
>>>>>>> Stashed changes

/* logo */
.logo img{
  width: 230px;
}

/* button */
.btn{
  border-radius: 0%;
  padding: 14px 38px;
  background-color: #F58d17;
  border-color: #F58d17
 
}

.btn-brand{
  color: #ee830a;
  font-weight: 600;
  background-color: #F58d17;
  border-color: #F58d17
 
}

.btn-brand:hover{
  background-color: #ec7e00;
  border-color: #ec7e00;
}

/* Slider */
.slide-1{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/p5.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
 }

.slide-2 {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/p4.avif) center no-repeat;
  background-size: cover;
  width: 100%; 
   
}

#heroSlider h6::after,
#heroSlider h6::before {
  content: " ";
  width: 20px;
  height: 4px;
  background-color: white;
  display: inline-block;
  margin: 10px;

}

.carousel-control-prev,
.carousel-control-next{
  background-color: rgba(0,0,0,0.6);
  width: 40px;
  height: 70px;
  margin: auto;


}

/*footer*/
footer{
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/p9.jpg) center no-repeat;
  background-size: cover;
  /* width: 100%; */
  padding-top: 100px;
  padding-bottom: 30px;
}
.footer-top{
  margin-bottom: 30px;
}

footer p,
footer a{
  color: white;
}

footer .social-links a{
  font-weight: normal;
  font-size: 24px;
  margin-right: 10px;

}

.footer-bottom{
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}



